html, body {
  overflow-x: hidden;
}

body {
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 320px; /* Adjust this value as needed */
  
  zoom: 1.1;
}

p{
  font-size: 1.1em;
}

h3{
  font-size: 1.2em;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#header.top {
  background-color: transparent;
  
}

#header.scroll {
  background-color: white;
  color:black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    display:grid;
    padding-left: 10px;
}

.logo-name {
    font-family: 'Reenie Beanie', 'Brush Script MT', cursive;
    font-size: 2em;
    margin-right: 10px;
}

.last-name{
    margin-left: 4px;

}

.logo-subtitle {
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-size: .8em;
    position: relative;    
    left: 15px;
    top: -5px;
}


button {
    padding: 10px 20px;
    color: black;
    border: solid black 2px;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 10px;
   background-color: rgba(0,0,0,0); 
  font-size: .9em;
}

.header-buttons {
    display: flex;
  padding-right: 45px;
    
}




button:hover {
    background-color: black;
    color:white;
  border: solid black 2px;
}

#book-trial.top{
  display: none;
}

#book-trial.top:hover{
  border:black solid 2px;
}

#book-trial.scroll:hover{
  color:white;
}

#book-trial.scroll{
  color:black;
  border: black solid 2px;
}







.header-hero-container {
    
    
    background-color: rgb(51, 51, 51);
    
    background-size: cover;
    
    
    position: relative;
    z-index: 1;
    padding-top:75px;
    padding-bottom: 35%;
    
}

.header-hero-container::before {    
      content: "";
      background-image: url('blackboard.jpg'); /* Add your background image here */
    background-repeat: no-repeat;
      background-size: cover;
  background-position: center; 
      
      filter: blur(0px);
      position: absolute;
      top: 0;
      right: 0px;
      bottom: 0px;
      left: -40%;
      opacity: 0.07;
      overflow:hidden;
      width:150%;
  height:auto;
}



.overlap-image-container {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: -30%; /* Adjust to control overlap */
    
}

.overlap-image {
    width: 80%;
    max-width: 1000px; /* Adjust as needed */
    display:block;
    margin:0 auto;
  
}



.hero {
    text-align: center;
    color:white;
  position:relative;
  max-width:90%;
  margin:0 auto;
  
}
.book-session{
  position:relative;
  color:white;
  border:white solid 2px;
  margin-top: 30px;
  font-size: 1em;
  margin-bottom: 30px;
}

.book-session:hover{
  background-color:black;
  border:black solid 2px;
}



.hero h1 {
    font-size: 3em;
  font-family: 'Permanent Marker';
}

.hero p {
  font-size: 1.3em;
}

.intro h2{
  font-size: 1.5em;
}

.intro p{
  font-size: 1.3em;
}


.how-it-works {
    padding-bottom:50px;
    padding-left: 100px;
    padding-right:100px;
    text-align: center;
   
}

.how-it-works .step {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
    
}

.how-it-works .step-content {
    max-width: 500px;
    text-align: left;
    
}

.how-it-works .step-image img {
    height: auto;
    max-width: 400px;
    width:100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



#text {
  width: 250px;
}

.how-it-works .step:nth-child(odd) .step-content {
    order: 1;
    margin-right: 60px;
}

.how-it-works .step:nth-child(odd) .step-image {
    order: 2;
}

.how-it-works .step:nth-child(even) .step-image {
    order: 1;
  margin-right: 60px;
}

.how-it-works .step:nth-child(even) .step-content {
    order: 2;
    
}

.section-divider {
    border: 0;
    height: 3px; /* Thicker line */
    background: #ccc;
    width: 80%; /* Does not take up the full page width */
    margin: 0 auto; /* Center the divider and add space around it */
  border-radius: 10px;
}


.subjects-tutored {
    padding: 50px 50px; /* Increase left and right padding */
    text-align: center;
    margin-bottom: 50px; /* Add more padding between sections */
}

.subjects-tutored .subjects {
    max-width: 900px;
    margin: 0 auto;
}

.subjects {
    display: flex;
    justify-content:space-between;
    padding-top:50px;
}

.subject {
    text-align: center;
}

.subject img {
    width: 100px;
    height: 100px;
    
}

.about-me {
   padding-top:50px;
  padding-bottom:100px;
  padding-left: 50px;
  padding-right: 50px;
    background-color: #f5f5f5; /* Add background color */
    
}

.about-me h2 {
    text-align: center; /* Center the heading */
}

.about-me-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me-video {
    flex: 1;
    max-width: 300px;
    margin-right: 50px;
}

.about-me-text {
    flex: 1;
    max-width: 600px;
    text-align: left;
}

.messages-section {
    padding: 50px 20px;
    margin-bottom: 30px;
}

.messages-section h2 {
    text-align: center;
    padding-bottom: 40px;
}




.message-board {
    display: flex;
    gap: 10px;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 80px;
    align-items: flex-start;
    padding: 0 10px;
}

.message-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0px;
}

.message-item {
    width: 200px;
    height: auto;
    justify-self: center;
    align-self: center;
}

.testimonials-slide-image {
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}

blockquote {
    position: relative;
    margin: 0;
    padding: 1px 20px 25px 20px;
}

blockquote:before {
    content: "\201C";
    font-size: 3em;
    position: absolute;
    left: 0px;
    top: -12px;
    color: #333;
}

blockquote:after {
    content: "\201D";
    font-size: 3em;
    position: absolute;
    right: 7px;
    bottom: 60px;
    color: #333;
}



.testimonials-layout {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    gap: 50px;
}

.video-testimonial-section {
    flex: 0 0 200px;
    max-width: 200px;
}


.video-slideshow {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-slide {
    display: none;
}

.video-slide.active {
    display: block;
}

.video-dots {
    text-align: center;
    margin-top: 40px;
}

.video-dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.video-dot.active,
.video-dot:hover {
    background-color: #333;
}

.slideshow-container {
    flex: 1;
    min-width: 0;
}

.slideshow {
    position: relative;
    
    
}

.slide {
    display: none;
    text-align: left;
}

.speaker {
    color: black;
    font-weight: 600;
    margin-top: 15px;
}

.slide.active {
    display: block;
}

.testimonials-slide-image {
    padding-bottom:35px;
}

.slideshow-controls {
    text-align: center;
    margin-top: 15px;
}

.slideshow-controls button {
    
    font-size: 1em; /* Increase font size for buttons */
}

.contact-form-section {
    background-color: #e6f7ff; /* Light blue background */
    padding: 50px 20px; /* Add more padding */
    text-align: center;
    scroll-margin-top: 40px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 2em; /* Increase font size for heading */
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    font-size: 1.2em; /* Increase font size for labels */
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1.2em; /* Increase font size for inputs and textarea */
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #0056b3; /* More professional blue color */
    outline: none;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
}

.contact-form button {
    
    cursor: pointer;
    font-size: 1.2em; /* Increase font size for button */
    display: block;
    margin: 0 auto;
}



footer {
    text-align: center;
    padding: 20px 20px 40px 20px;
    background-color: #f5f5f5;
}

footer a {
    color: #0056b3; /* More professional blue color */
    text-decoration: none;
}


@media (max-width: 900px) {
  
  body{
    zoom:1;
  }
  
  .overlap-image {
    width: 90%;
  }
  
    .how-it-works {
         padding-top: 20px;
        padding-bottom:50px;
        padding-left: 20px;
        padding-right:20px;
    }
    .how-it-works .step {
        flex-direction: column;
        text-align: center;
    }
    .how-it-works .step:nth-child(odd) .step-content, 
    .how-it-works .step:nth-child(even) .step-content {
        order: 1;
      margin: 0 auto;
      max-width: 600px;
    }
  

  
    .how-it-works .step:nth-child(odd) .step-image, 
    .how-it-works .step:nth-child(even) .step-image {
        order: 2;
        margin: 10px auto;
    }
    .about-me-content {
        flex-direction: column;
        text-align: center;
    }
    .about-me-video, .about-me-text {
        margin: 10px 0;
    }
    .about-me {
        padding: 50px 20px; /* Shrink left and right padding */
    }
    
    .subjects {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2x2 grid layout */
        gap: 50px;
    }
  
    
    .message-column:nth-child(4) {
        display: none;
    }
    
    .testimonials-layout {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        align-items: center;
    }
    
    .testimonials-layout {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        align-items: center;
    }
    
  .video-testimonial-section {
    max-width: 30%;
    width: 100%;
    
    margin-top:40px;
  }
  
  .video-testimonial-section .video-slideshow {
    max-width: 100%;
    
  }
  
    
    .slideshow-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
    .testimonials-slide-image {
        width: 500px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    
}


@media (max-width: 576px){
  .logo{
    display:grid;
    padding-left: 0;
  }
  
  .logo-subtitle{
    position: relative;    
    left: 15px;
    top: -5px;
    font-size: .8em;
  }
  
  .header-buttons{
    padding-right: 35px;
  }
  
  .hero{
    padding:0 20px;
  }
  
  .hero h1{
    font-size: 2.5em;
  }
  
 .how-it-works .step-image img {
    max-width: 90%;
  }
 
  .subjects{
      width:100%;
  }

  .message-column:nth-child(3), 
  .message-column:nth-child(4) {
      display: none;
  }
  
  .message-item {
      width: 100%;
  }
  
  .messages-section h2 {
      padding-bottom: 20px;
  }
  
  .message-board {
      margin-bottom: 50px;
  }
  
  blockquote:after {
    bottom: 70px;
    
  }
  .testimonials-slide-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .video-testimonial-section {
    max-width: 80%;
    width: 100%;
    
  }
  
  .video-testimonial-section .video-slideshow {
    max-width: 100%;
  }
  
  
  
}
